---
import Layout from '../layouts/Layout.astro';
import fetchDocumentListApi, { type ReadwiseDocument } from '../lib/readwise';

const fromDate = new Date('2024-03-01').toISOString(); // March 1, 2024

let docs: ReadwiseDocument[] = [];

try {
  docs = await fetchDocumentListApi(fromDate, 'new');
} catch (error) {
  console.error(error);
}
---

<Layout title="Home | Scribe Reader">
  <h1 class="text-center my-4 text-2xl font-bold">Scribe Reader</h1>
  <main class="w-full max-w-[70ch] mx-auto my-16">
    {
      docs.map(doc => (
        <article class="my-8 flex gap-4">
          <img src={doc.image_url} alt={`${doc.title} cover`} height="100" width="100" class="rounded" />
          <div class="flex-1">
            <a href={`https://readwise.io/reader/shared/${doc.id}`}>
              <h2 class="">
                <span class="text-lg font-semibold">{doc.title}</span> · <span>{doc.author}</span>
              </h2>
            </a>
            <p class="text-gray-800">{doc.summary}</p>
            <p class="text-gray-500">
              {new Date(doc.created_at).toDateString()} · {Math.round(doc.word_count / 200)} min read
            </p>
            <p class="mt-4 text-xs text-gray-500">
              <a href={doc.source_url}>Read Original ↗</a>
            </p>
          </div>
        </article>
      ))
    }
  </main>
</Layout>
